@import './theme.scss';

.calendar {
    font-family: var(--fontFamily);
    font-size: var(--fz);
    color: var(--color);
    position: relative;
    background-color: var(--bgc);
    max-width: var(--maxWidth);
    &__body {
        display: flex;
        justify-content: center;
        gap: var(--gap);
        border: 1px solid var(--borderColor);
        flex-wrap: wrap;
        padding: var(--padding);
    }
    &__arrows {
        &--next, &--prev {
            position: absolute;
            top: 1rem;
            border: 1px solid var(--borderColor);
            border-radius: 3px;
            padding: .5rem;
            color: var(--color);
            background-color: var(--bgc);
            cursor: pointer;
            &:hover {
                color: var(--hoverColor);
                background-color: var(--hoverBg);
            }
        }
        &--next {
            right: 3rem;
        }
        &--prev {
            left: 3rem;
        }
    }
    &__footer {
        &--btn {
            background-color: var(--bgc);
            border: 1px solid transparent;
            color: var(--color);
            padding: .5rem;
            border-radius: 5px;
            position: absolute;
            right: calc(var(--padding) + var(--gap));
            bottom: 0;
            &:hover {
                // background-color: var(--hoverBg);
                //border: 1px solid var(--danger);
                color: var(--danger); 
                cursor: pointer;
            }
        }
    }
}
