.table {
    text-align: center;
    border-spacing: 0;
}

thead.table__header tr {
    margin-bottom: 1rem;
} 

.table__body {
    font-style: italic;
}

.table__td {
    text-align: center;
    border: 1px solid grey;
    margin: 0;
    padding: 5px;
    width: 30px;
    height: 30px;
}

.table__td:hover {
    background-color: grey;
    cursor: pointer;
}

.month {
    display: block;
}
.month__header {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.disabled {
    color: rgb(189, 186, 186);
}