@import './theme.scss';

.table {
    text-align: center;
    //border-spacing: 0;
}

thead.table__header tr {
    margin-bottom: 1rem;
} 

.table__body {
    //font-style: italic;
}

.table__td {
    text-align: center;
    border: 1px solid var(--borderColor);
    margin: 0;
    padding: 5px;
    width: 30px;
    height: 30px;
}

.table__td:hover {
    background-color: var(--hoverBg);
    cursor: pointer;
}

.month {
    display: block;
}
.month__header {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.disabled {
    color: var(--disabledColor);
    cursor: default;
    &:hover {
        cursor: default;
        background-color: var(--disabledBg);
    }
}

.selected {
    background-color: var(--selectedBg);
    color: var(--selectedColor);
}

.between {
    background-color: var(--betweenBg);
    color: var(--betweenColor);
}