@import './theme.css';

.table {
    text-align: center;
}
thead.table__header tr {
    margin-bottom: 1rem;
}
.table__td {
    text-align: center;
    border: 1px solid var(--borderColor);
    margin: 0;
    padding: 5px;
    width: var(--cellSize);
    height: var(--cellSize);
}
/* .table__td.with_captions {
    position: relative;
}
.table__td.with_captions .day {
    position: absolute;
    top: 0;
    left:40%;
    margin-bottom: .5rem;
} */
.table__td:hover {
    background-color: var(--hoverBg);
    color: var(--hoverColor);
    cursor: pointer;
}
.caption {
    font-size: var(--captionFz);
    min-height: var(--captionFz);
    min-width: var(--captionFz);
}
.month {
    display: block;
}
.month__header {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}
.hidden {
    color: var(--hiddenColor);
    cursor: default;
}
.hidden:hover {
    cursor: default;
    background-color: var(--hiddenBg);
}
.blocked, .blocked:hover {
    color: var(--blockedColor);
    background-color: var(--bgc);
    cursor: default;
}

.weekend {
    color: var(--blockedColor);
    background-color: var(--bgc);
}
.selected {
    background-color: var(--selectedBg);
    color: var(--selectedColor);
}
.between {
    background-color: var(--betweenBg);
    color: var(--betweenColor);
}
