:root {
    /* colors */
    --color: #874356;
    --bgc: white;

    --borderColor: white;

    --hoverColor: white;
    --hoverBg: #874356;

    --selectedColor: white;
    --selectedBg: #C65D7B;

    --betweenColor: #874356;
    --betweenBg: #F68989;

    --disabledColor:white;
    --disabledBg: white;

    --danger: #C65D7B;

    /* Typography */
    --fontFamily: 'Arial', sans-serif;
    --fz: 16px;

    /* box-sizing */
    --maxWidth: 800px;
    --padding: 2rem;
    --gap: 2rem;
}